# Eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
/workspace/

# IntelliJ
/out/
*.ipr
*.iws
*.iml
/.idea/*

# Gradle
/build/
/.gradle/

# Other
/eclipse/
*/reports/*
/run/

# Visual Studio Code
/.settings/
/.vscode/
/bin/

secret.json

# MacOS
.DS_Store
